<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <!-- link css file -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  </head>

  <body>
    <h1>main layout</h1>

    <!-- partial templates -->
    {{{body}}}

    <!-- include javascript files -->
    <script src="/javascripts/jquery-3.6.0.js"></script>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
  </body>

</html>